<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>	
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon.png}">
	<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
	<title>Logout</title>
	<script type="text/javascript" th:src="@{/js/common/jein_common.js}"></script>
	<script type="text/javascript" th:src="@{/js/common/jein_util.js}"></script>
	<script type="text/javascript">
	var logout = {};
	// 페이지 이동
	logout.goPageChange = function(menuUrl) {
		location.href = jcm.contentPath + menuUrl;
	};
	</script>
</head>
<body>
	<h2>Logout Page</h2>
	<input type="button" value="Go Login Page" onclick="javascript:logout.goPageChange('/common/view/login');">
</body>
</html>