<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout01}">
<head>
<meta charset="UTF-8" />
<script type="text/javascript">
	var codeManager = {	};
	var gridGrp  = null;
	var gridCode = null;
	
	var selectUseYn = [{ text: 'Yes', 	value: 'Y' }, { text: 'No', 	value: 'N' }];
	
	// 초기화 함수
	codeManager.init = function() {
		// 화면 바인딩
		codeManager.bind();
		
		var colModelGrp = [
			{name: 'GRP_LINK',			title: '그룹 코드 아이디',	align: 'center', 	formatter:codeManager.setCodeGrpLink}
			, {name: 'CODE_GRP_NAME',	title: '그룹 코드 이름',	editOptions: {type: 'text',   maxLength: 30,  useViewMode: true}}
			, {name: 'CODE_DESC',		title: '그룹 코드 상세',	editOptions: {type: 'text',   maxLength: 150, useViewMode: true}}
			, {name: 'USE_YN',			title: '사용 여부',			align: 'center', 		editOptions: {type: 'select', listItems: selectUseYn, useViewMode: true}}
			, {name: 'UPDATE_ID',		title: '수정(생성) ID',		align: 'center'}
			, {name: 'UPDATE_DT',		title: '수정(생성) 시간',	align: 'center'}
			, {name: 'CODE_GRP_ID',		title: '그룹 코드 아이디',	hidden: true}
	    ];
		
		gridGrp = new tui.Grid({
		    el: $('#gridGrp'),
		    scrollX: false,
		    scrollY: true,
		    bodyHeight: 200,	// Grid 높이
		    rowHeight: 35,		// Row 높이
		    rowHeaders: ['checkbox'],
		    columns: colModelGrp
		});
	};
	// 화면 바인딩
	codeManager.bind = function() {		
		$("#addBtn1").bind("click",  codeManager.addGrp);
		$("#saveBtn1").bind("click", codeManager.saveGrp);
		$("#delBtn1").bind("click",  codeManager.deleteGrp);
	};
	
	// Code Grp Click Link
	codeManager.setCodeGrpLink = function(value, rowData) {
		var codeGrpId = jut.isEmpty(rowData.CODE_GRP_ID)?"":rowData.CODE_GRP_ID;
		return "<a href=\"javascript:void(0);\" onclick=\"codeManager.searchCode('" + codeGrpId + "');\">" + codeGrpId + "</a>";
	};
	
	// 그룹 코드 검색 이벤트
	codeManager.searchGrp = function() {
		$("#labelGroup").html("");
		
		jcm.doAjax(true, "[[ @{/admin/data/getCodeList} ]]",  {
			codeLevel 		: '1'
			, codeGrpId 	: $("#searGroupCode").val()
			, codeGrpName 	: $("#searGroupName").val()
		}, codeManager.searchGrpCallback);
	};
	
	// 그룹 코드 검색 콜백 이벤트
	codeManager.searchGrpCallback = function(res, req) {
		gridGrp.setData(res.codeList);
	};
	
	// 그룹 코드 추가
	codeManager.addGrp = function() {
		gridGrp.prependRow({USE_YN:'Y'}, {focus:true});
		gridGrp.check(gridGrp.getFocusedCell().rowKey);
	};
	
	// 그룹 코드 삭제
	codeManager.deleteGrp = function() {
		var chkItemList = gridGrp.getCheckedRows();
		if(chkItemList.length < 1) {
			alert("선택된 아이템이 존재하지 않습니다.");
			return;
		}
		
		var newRowFlag = false;
		var itemList =[];
		$.each(chkItemList, function(idx, obj) {
			if(!newRowFlag && jut.isEmpty(obj.CODE_GRP_ID)) {
				newRowFlag = true;
				gridGrp.focus(obj.rowKey, 'CODE_GRP_NAME', true);
			}
			
			itemList.push({codeGrpId : obj.CODE_GRP_ID});
		});
		
		if(newRowFlag) {
			alert("신규 아이템은 삭제할 수 없습니다. ");
			return;
		}
		
		jcm.doAjax(true, "[[ @{/admin/data/setCodeGrp} ]]", {
			serviceType 	: 'D',
			codeGrpIdList	: itemList
		}, codeManager.setGrpCallback);
	};
	
	// 그룹 코드 저장
	codeManager.saveGrp = function() {
		var chkItemList = gridGrp.getCheckedRows();
		if(chkItemList.length < 1) {
			alert("선택된 아이템이 존재하지 않습니다.");
			return;
		}
		
		var newRowFlag = false;
		var itemList = new Array();
		$.each(chkItemList, function(idx, obj) {
			if(!newRowFlag && jut.isEmpty(obj.CODE_GRP_NAME)) {
				newRowFlag = true;
				gridGrp.focus(obj.rowKey, 'CODE_GRP_NAME', true);
			}
			var item = {
				'CODE_GRP_ID' 		: jut.getString(obj.CODE_GRP_ID)
				, 'CODE_GRP_NAME' 	: jut.getString(obj.CODE_GRP_NAME)
				, 'CODE_DESC' 		: jut.getString(obj.CODE_DESC)
				, 'USE_YN' 			: jut.getString(obj.USE_YN)
			}	
			itemList.push(item);
		});	
		
		if(newRowFlag) {
			alert("그룹 코드 이름은 필수입니다. ");
			return;
		}
		
		jcm.doAjax(true, "[[ @{/admin/data/setCodeGrp} ]]", {
			serviceType 	: 'U',
			codeGrpIdList	: itemList
		}, codeManager.setGrpCallback);
	};
	
	// 그룹 코드 저장/삭제 콜백
	codeManager.setGrpCallback = function(res, req) {
		alert(res.resultMsg);
		codeManager.searchGrp();
	};
	
	
	$(document).ready(function() {
		console.log("##### Code Manager Start #####");
		
		// 화면 초기화
		codeManager.init();
		
		// 검색 이벤트 설정
		$("#searchBtn").bind("click", function() { 	codeManager.searchGrp(1); 	});
	});
	
	
</script>
</head>
<body>
	<section layout:fragment="content">
		<div class="box_type1">
			<div class="tbl_type1">
				<table>
					<colgroup>
						<col style="width:;">
						<col style="width:35%;">
						<col style="width:;">
						<col style="width:;">
						<col style="width:10px;">
					</colgroup>
					<tr>
						<th title="Group Code">Group Code</th>
						<td><input type="text" id="searGroupCode" name="searGroupCode" /></td>
						<th title="Group Name">Group Name</th>
						<td><input type="text" id="searGroupName" name="searGroupName" /></td>
						<td class="ar"><div class="btn type2"><a href="#" id="searchBtn"><span><em class="search"></em>Search</span></a></div></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="box_type1">
			<div class="btn_group">
				<div class="btn type2"><a href="javascript:void(0);" id="addBtn1"><span>Add</span></a></div>
				<div class="btn type2"><a href="javascript:void(0);" id="delBtn1"><span>Delete</span></a></div>
				<div class="btn type2"><a href="javascript:void(0);" id="saveBtn1"><span>Save</span></a></div>
			</div>
			<div id="gridGrp"></div>		
		</div>	
		<div class="box_type1">
			<div class="btn_group">
				<div class="btn type2"><a href="javascript:void(0);" id="addBtn2"><span>Add</span></a></div>
				<div class="btn type2"><a href="javascript:void(0);" id="delBtn2"><span>Delete</span></a></div>
				<div class="btn type2"><a href="javascript:void(0);" id="saveBtn2"><span>Save</span></a></div>
			</div>
			<div id="gridCode"></div>		
		</div>		
	</section>
</body>
</html>