<script type="text/javascript">

	var addModal = JeinModalFactory.getModal('addModal');
	console.log(addModal);

</script>
<div class="tbl_type1">
	<table>
		<colgroup>
			<col width="25%" />
			<col width="25%" />
			<col width="25%" />
			<col width="25%" />
		</colgroup>
		<tr>
			<th>모듈</th>
			<td><select id="moduleList"></select></td>
			<th>메뉴타입</th>
			<td><input type="text" id="searchMenuId" /></td>
		</tr>
		<tr>
			<th>메뉴아이디</th>
			<td></td>
			<th>메뉴명</th>
			<td></td>
		</tr>
		<tr>
			<th>메뉴경로</th>
			<td></td>
			<th>메뉴</th>
			<td></td>
		</tr>
		<tr>
			<th>메뉴레벨</th>
			<td></td>
			<th>상위메뉴아이디</th>
			<td></td>
		</tr>
		<tr>
			<th>순서</th>
			<td></td>
			<th>사용여부</th>
			<td></td>
		</tr>
	</table>
</div>