<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout01}">
<head>
<meta charset="UTF-8" />
<script type="text/javascript">
	var codeManager = {
		searchData : {
			
		}
	};
	
	// 초기화 함수
	codeManager.init = function() {
		console.log("##### codeManager.init #####");
		// 버튼 바인딩
		$("#addBtn").bind("click", codeManager.addGrp);
		$("#delBtn").bind("click", codeManager.deleteGrp);
		
		/**
		 * Grid의 Row Id 설정을 위햐 key값을 설정해야 함.
		 **/
		var colModel = [
			{ name: 'codeGrpId', 	label: '그룹 코드', 		width: 75, 		key:true  },	// Grid의 Key 설정 필요
            { name: 'codeGrpName', 	label: '그룹 코드명', 		width: 150, 	editable: true, edittype:'text'},
            { name: 'codeDesc',		label: '그룹 코드 상세', 	width: 150 }, //, formatter : 'date', formatoptions: { srcformat : 'Y-m-d H:i:s', newformat :'ShortDate'}
            //{ name: 'useYn',		label: '사용 여부', 		width: 150, 	editable: true, edittype:'select', formatter: 'select',  editoptions:{value:"Y:Yes;N:No"}, formatoptions:{disabled:true}},
            //{ name: 'useYn',		label: '사용 여부', 		width: 150, 	formatter:setSelectCombo},
            { name: 'updateId', 	label: '수정(생성) ID',		width: 150 },
            { name: 'updateDt', 	label: '수정(생성) 시간'}
        ];
		
		var gridOption = {
			height:200, 		// 그리드 옵션
			multiselect:true,	// CheckBox 활성화 여부
			multiboxonly:true,	// CheckBox 단일행 선택 활성화 여부
			onSelectRow:codeManager.searchCode
		}
		// 그리드 생성
		jgrid.createJqGrid("jqGrid", colModel, gridOption);
	};
	
	// 그룹 코드 검색 이벤트
	codeManager.searchGrp = function() {
		console.log("##### codeManager.searchGrp #####");
		var param = {
			codeGrpId 		: $("#searGroupCode").val()
			, codeGrpName 	: $("#searGroupName").val()
		};
		
		jcm.doAjax(true, "[[ @{/admin/data/codeGrpList} ]]", param, codeManager.searchGrpCallback);
	};
	// 그룹 코드 콜백 이벤트
	codeManager.searchGrpCallback = function(res, req) {
		console.log("##### codeManager.searchGrpCallback #####");
		jgrid.setLocalData("jqGrid", res.codeList);
	};
	// 그룹 코드 추가
	codeManager.addGrp = function() {
		console.log("##### codeManager.addGrp #####");
		
		jcm.openLayerPopup
	};
	// 그룹 코드 삭제
	codeManager.deleteGrp = function() {
		console.log("##### codeManager.deleteGrp #####");
		
		console.log($('#jqGrid').jqGrid('getGridParam', 'selarrrow'));
	};

	
	codeManager.searchCode = function(rowid, status, e) {
		
	};
	
	function setSelectCombo(callValue, options, rowdata, action) {
		var selectOption = [{value:'Y', name:'Yes'}, {value:'N', name:'No'}];
		var result = '<select>';
		$.each(selectOption, function(idx, obj) {
			result += '<option value="' + obj.value + '" ' + (callValue==obj.value?'selected':'') + '>' + obj.name + '</option>';
		});
		result += '</select>';
		return result;
	}
	
	$(document).ready(function() {
		console.log("##### Code Manager Start #####");
		
		// 화면 초기화
		codeManager.init();
		
		// 검색 이벤트 설정
		$("#searchBtn").bind("click", function() { 	codeManager.searchGrp(1); 	});
	});
	
	
</script>
</head>
<body>
	<section layout:fragment="content">
		<div class="box_type1">
			<div class="tbl_type1">
				<table>
					<colgroup>
						<col style="width:;">
						<col style="width:35%;">
						<col style="width:;">
						<col style="width:;">
						<col style="width:10px;">
					</colgroup>
					<tr>
						<th title="Group Code">Group Code</th>
						<td><input type="text" id="searGroupCode" name="searGroupCode" /></td>
						<th title="Group Name">Group Name</th>
						<td><input type="text" id="searGroupName" name="searGroupName" /></td>
						<td class="ar"><div class="btn type2"><a href="#" id="searchBtn"><span><em class="search"></em>Search</span></a></div></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="box_type1">
			<div class="btn_group">
				<div class="btn type2"><a href="javascript:void(0);" id="addBtn"><span>Add</span></a></div>
				<div class="btn type2"><a href="javascript:void(0);" id="delBtn"><span>Delete</span></a></div>
				<div class="btn type2"><a href="javascript:void(0);" id="saveBtn"><span>Save</span></a></div>
			</div>
			<div class="jqGridArea">
				<table id="jqGrid"></table>
	   			<div id="jqGridDefaultPager" class="d_none"></div>
	   			<div id="jqGridCustomPager"></div>
	   		</div>
		</div>
				
	</section>
</body>
</html>