<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout01}">
<head>
<meta charset="UTF-8" />
<script type="text/javascript">
	$(document).ready(function() {
		console.log("################# SAMPLE 03 START #################");
		jcm.setDatepicker("jquiDatepicker1");
		jcm.setDatepicker("jquiDatepicker2");
	});
</script>
</head>
<body>
	<section layout:fragment="content">
		
	</section>
</body>
</html>