<script type="text/javascript">
console.log("Popup Test");
</script>
<div class="pop-container">
    <div class="pop-conts">
        <!--content //-->
        <p class="ctxt mb20">Thank you.<br>
            Your registration was submitted successfully.<br>
            Selected invitees will be notified by e-mail on JANUARY 24th.<br><br>
            Hope to see you soon!
        </p>    
        <div class="btn-r"><a href="javascript:jcm.openLayerPopup('layerPopup2', '/sample/view/layerPopup', '', 500, 280);">Layer Popup Open</a></div>    
        <!--// content-->
    </div>
</div>