<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/jqgrid/4.7.0/js/i18n/grid.locale-kr.js}"></script>	
	<script type="text/javascript" th:src="@{/webjars/jqgrid/4.7.0/js/jquery.jqGrid.js}"></script>		
	<script type="text/javascript" th:src="@{/js/common/jein_common.js}"></script>		
	<script type="text/javascript" th:src="@{/js/common/jein_util.js}"></script>	
	<link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}"/>		
	<link rel="stylesheet" th:href="@{/webjars/jqgrid/4.7.0/css/ui.jqgrid.css}"/>
</head>
<body>
	<header>
		<h1>My website</h1>
	</header>
	<section layout:fragment="content">
		<p>Page content goes here</p>
	</section>
	<div th:insert="sample/footer :: footerFragment">
		<p>Custom footer here</p>
	</div>
</body>
</html>