<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- thymeleaf 사용 선언 -->
	<head>
		<meta charset="UTF-8"/>
		<title>Sample 03</title>
	</head>
	<body>
		<h1 th:text="${sampleTitle}">Thymeleaf Test Page</h1>
		<div>
			<p>Html-text : </p><p th:text="${sampleUText}"></p>
			<br/>
			<p>Html-utext : </p><p th:utext="${sampleUText}"></p>
		</div>
		<div th:insert="~{sample/header::header}"></div>  
		<div th:insert="~{header::header}"></div>  		
		<div th:insert="{header::header}"></div>  	
		<div th:insert="header::header"></div>  
	</body>
</html>