<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{sample/layout01}">
<head>
<meta charset="UTF-8" />
<title th:text="${viewName}">SAMPLE 03</title>
<!-- request.getAttribute -->
<script type="text/javascript">
	$(document).ready(function() {
		console.log("################# SAMPLE 03 START #################");
		jcm.setDatepicker("jquiDatepicker1");
		jcm.setDatepicker("jquiDatepicker2");
	});
	function callbackSampleFileUpload(res) {
		console.log("##### callbackSampleFileUpload #####");
		console.log(res);
		$.each(res.FILE_LIST, function(idx, obj) {
			$("#fileList").append(
					"<a href=\"/mini/common/file/downloadFile?fileId="
							+ obj.fileId + "\">" + obj.fileName + " ("
							+ obj.fileSize + ")" + "</a><br/>");
		});
	}
	
	function callbackSampleExcelUpload(res) {
		console.log("##### callbackSampleFileUpload #####");
		console.log(res);
		alert(res);
	}

	function windowPopup() {
		jcm.openWindowPopup($("#popupId").val(), '/sample/view/layerPopup', {
			target : 'Window Open'
		}, $("#popupWidth").val(), $("#popupHeight").val(), $("#popupTop")
				.val(), $("#popupLeft").val());
	}

	function layerPopup() {
		jcm.openLayerPopup($("#popupId").val(), '/sample/view/layerPopup', {
			target : 'Layer Open'
		}, $("#popupWidth").val(), $("#popupHeight").val(), $("#popupTop")
				.val(), $("#popupLeft").val());
	}
</script>
</head>
<body>
	<section layout:fragment="content">
		<h2 th:text="${sampleTitle}">Thymeleaf Test Page</h2>
		<div style="border: 2px solid #3571B5;">
			<h1>Thymeleaf Sample</h1>
			<p>Html-text :</p>
			<p th:text="${sampleUText}"></p>
			<br />
			<p>Html-utext :</p>
			<p th:utext="${sampleUText}"></p>
			<p>Get Content Path :</p>
			<p th:text="${#request.getContextPath()}"></p>
		</div>
		<div style="border: 2px solid #3571B5;">
			<h1>Login User Info</h1>
			<!-- Session에 userInfo값이 null이 아닌 경우에만 그려짐 -->
			<div th:if="${session.userInfo}!=null" th:object="${session.userInfo}" >			
				<p>
					USER ID : <span th:text="*{userId}"></span>
				</p>
				<p>
					USER Name : <span th:text="*{userName}"></span>
				</p>
				<p>
					USER E-Mail : <span th:text="*{userEmail}"></span>
				</p>
				<p>
					USER Phone : <span th:text="*{userPhone}"></span>
				</p>
			</div>
			<div th:unless="${session.userInfo}!=null">
				<p>로그인되지 않았습니다.</p>
			</div>
		</div>
		<div style="border: 2px solid #3571B5;">
			<h1>Jquery Ui Sample</h1>
			<p>Date: <input type="text" id="jquiDatepicker1"></p>
			<p>Date: <input type="text" id="jquiDatepicker2"></p>
		</div>
		
		<div style="border: 2px solid #3571B5;">
			<h1>Popup Open Sample</h1>
			<table style="boder: 1px;">
				<colgroup>
					<col width="150px" />
					<col width="200px" />
				</colgroup>
				<tbody>
					<tr>
						<td>Popup ID</td>
						<td><input type="text" id="popupId" value="TestPopup"></td>
					</tr>
					<tr>
						<td>Width</td>
						<td><input type="number" id="popupWidth" value="0"></td>
					</tr>
					<tr>
						<td>Height</td>
						<td><input type="number" id="popupHeight" value="0"></td>
					</tr>
					<tr>
						<td>Top</td>
						<td><input type="number" id="popupTop" value="0"></td>
					</tr>
					<tr>
						<td>Left</td>
						<td><input type="number" id="popupLeft" value="0"></td>
					</tr>
					<tr>
						<td><button onClick="javascript:windowPopup();">Window
								Open</button></td>
						<td><button onClick="javascript:layerPopup();">Layer
								Open</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div style="border: 2px solid #3571B5;">
			<h1>File Upload/Download Sample</h1>
			<form id="fileUpload" name="fileUpload" enctype="multipart/form-data">
				<input type="hidden" name="uploadPath" value="biz.jein" />
				<!-- 실 저장 경로 -->
				<input type="hidden" name="uploadPreFix" value="SAM" />
				<!-- Pre Fix Name -->
				<input type="file" name="uploadFile" multiple
					onchange="javascript:jcm.doAjaxFileForm('fileUpload', callbackSampleFileUpload);" />
			</form>
			<p>File Download List</p>
			<div id="fileList"></div>
		</div>
		<div style="border: 2px solid #3571B5;">
			<h1>Excel Sample</h1>
			<a href="/mini/common/file/downloadExcel?excelTemplate=/sample/excel_sample.xml&excelDataCode=CM0001">Excel Download</a>
			<p>Upload</p><form id="excelUpload" name="excelUpload" enctype="multipart/form-data">
				<input type="hidden" name="excelTemplate" value="/sample/excel_sample.xml" />
				<input type="hidden" name="uploadPreFix" value="SAM" />
				<!-- Pre Fix Name -->
				<input type="file" name="uploadFile" multiple
					onchange="javascript:jcm.doAjaxExcelForm('excelUpload', '', callbackSampleExcelUpload);" />
			</form>
		</div>
	</section>
</body>
</html>